<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <appSettings>
    <add key="timeAsk" value="10"/>
    <add key="mem_count2" value="3000"/>
    <add key="mem_count1" value="3000"/>
    <add key="PLC_13_cx3.Device1.FE_302_1_ARM" value="0"/>
    <add key="PLC_19_cx10.Device1.FE_305_1_ARM" value="0"/>
    <add key="PLC_17_cx8.Device1.FE_710_2_ARM" value="0"/>
    <add key="PLC_17_cx8.Device1.FE_710_ARM" value="0"/>
    <add key="PLC_11_cx_5.Device1.FE_603a_1_ARM" value="0"/>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
